@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgba(88, 76, 106, 1) 0%, rgba(47, 44, 33, 1) 49%);
  font-family: "Poppins", sans-serif;
}

/*-------------------------Contenedor Principal---------------------------*/
#root {
  background: rgb(88, 76, 106);
  background: linear-gradient(0deg, rgba(88, 76, 106, 1) 0%, rgba(47, 44, 33, 1) 49%);
  margin: auto;
  width: 90%;
  max-width: 1600px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  /* Centra los elementos horizontalmente en el contenedor */
  align-items: center;
  /* Centra los elementos verticalmente en el contenedor */
}

/* -------------------------error 404---------------------------------------------------------------*/
.error {
  color: #fff;
  margin: auto;
}

/*-------------------------Contenedor Formulario - Registro Usuarios ---------------------------*/
.container {
  background-color: #000;
  width: 90%;
  height: 650px;
  /* Ajusta la altura del contenedor .container según tus necesidades */
  border-radius: 20px;
  display: grid;
  gap: 10px;
  /* Espacio entre las columnas */
  grid-template-columns: 50% 50%;
  justify-items: center;
  /* Centra los elementos horizontalmente en el contenedor */
  align-items: center;
  /* Centra los elementos verticalmente en el contenedor */
}

.logo-content {
  display: grid;
}

.img-logo {
  width: 450px;
}

.form-registro {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  width: 75%;
  height: 600px;
  /*border-radius: 20px;*/
  display: grid;
  gap: 8px;
  justify-items: center;
  /* Centra los elementos horizontalmente en .content-form */
  align-items: center;
  /* Centra los elementos verticalmente en .content-form */
  padding: 25px 30px;
}

.title {
  color: #FBD3E9;
  color: linear-gradient(to right, #BB377D, #FBD3E9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 32px;
  margin: 10px;
}

.textRegreso {
  color: #fff;
  font-size: 16px;
  margin: 5px;
}

.mensajeRegreso {
  color: #BB377D;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.passRepit {
  color: #fff;
  font-size: 18px;
}

.input-iconos {
  width: 95%;
  display: grid;
  grid-template-columns: auto 1fr;
  /* Define dos columnas: una para el ícono (automático) y otra para el input (1fr ocupa el espacio restante) */
  align-items: center;
  /* Centrar verticalmente los elementos */
}

.estilos-icono {
  background-color: #232526;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  color: #FBD3E9;
  color: linear-gradient(to right, #BB377D, #FBD3E9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.estilos-input {
  width: 100%;
  height: 55px;
  color: #f5f5f5;
  border: none;
  background: rgba(233, 231, 231, 0.1);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}

.estilos-input:focus {
  outline: none;
  border: 2px solid rgba(233, 170, 208, 0.247);
}

.form-registro .btnRegistro {
  width: 70%;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: bolder;
  background-color: #e2a9c9;
  border: none;
  border-radius: 20px;
  align-items: center;
}

.form-registro .btnRegistro:hover {
  cursor: pointer;
  background: #BB377D;
  box-shadow: 0px 4px 35px -5px #BB377D;
}

.form-registro .btnGoogle {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: bolder;
  background-color: #e2a9c9;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-registro .btnGoogle img {
  margin: 10px;
}

.form-registro .btnGoogle:hover {
  cursor: pointer;
  background: #54cbe0;
  box-shadow: 0px 4px 35px -5px #54cbe0;

}

#error-container {
  color: #ec4545;
  font-weight: bold;
  font-size: 20px;
}

/*----------------- Responsive design ------------------------*/
@media (max-width: 1200px) {
  .img-logo {
    width: 350px;
  }

  .container {
    width: 100%;
  }

  .form-registro {
    width: 90%;
  }

}

@media (max-width: 768px) {
  .img-logo {
    content: url('img/logo-feed.png');
    width: 250px;
  }

  .container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
    align-items: center;
  }

  .form-registro {
    width: 90%;
    height: 550px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-registro {
    width: 90%;
    padding: 10px;
  }
}

/*-----------------------------Pagina principal (LOGIN)---------------------------------------------*/

.mimain {
  background-color: #000;
  width: 90%;
  height: 700px;
  /* Ajusta la altura del contenedor .container según tus necesidades */
  border-radius: 20px;
  display: grid;
  gap: 10px;
  /* Espacio entre las columnas */
  grid-template-columns: 50% 50%;
  justify-items: center;
  /* Centra los elementos horizontalmente en el contenedor */
  align-items: center;
  /* Centra los elementos verticalmente en el contenedor */
}

#formRegistro1 {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  width: 87%;
  height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 25px 30px;
}

.title1 {
  color: #FBD3E9;
  color: linear-gradient(to right, #BB377D, #FBD3E9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 32px;
  margin: 10px;
}

.mensajeNoTienesCuenta {
  color: #fff;
  font-size: 16px;
  margin: 5px;
}

.Registrate {
  color: #BB377D;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}
<<<<<<< HEAD
=======

>>>>>>> 04eab14eab1ff54e47104c63d1913d1a2139d701
.btnLogin {
  width: 70%;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: bolder;
  background-color: #e2a9c9;
  border: none;
  border-radius: 20px;
  align-items: center;
}

.btnLogin:hover {
  cursor: pointer;
  background: #BB377D;
  box-shadow: 0px 4px 35px -5px #BB377D;
}
<<<<<<< HEAD
.section-img{
=======

#formRegistro1 .input-nombre,
.input-contraseña {
  width: 70%;
  height: 30px;

}

.section-img {
>>>>>>> 04eab14eab1ff54e47104c63d1913d1a2139d701
  display: flex;

}

.img-logo1 {
  width: 450px;
}

#formRegistro1 .btnGoogle {
  width: 70%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: bolder;
  background-color: #e2a9c9;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formRegistro1 .btnGoogle img {
  margin: 10px;
}

#formRegistro1 .btnGoogle:hover {
  cursor: pointer;
  background: #54cbe0;
  box-shadow: 0px 4px 35px -5px #54cbe0;
}

/*----------------- Responsive design (LOGIN)------------------------*/

@media (max-width: 1200px) {
  .img-logo1 {
    width: 350px;
  }

  .mimain {
    width: 100%;
  }

  #formRegistro1 {
    width: 90%;
  }

}

@media (max-width: 768px) {
  .img-logo1 {
    content: url('img/logo-feed.png');
    width: 350px;
    margin: 15px;
  }

  .mimain {
    grid-template-columns: 1fr;
  }

  #formRegistro1 {
    width: 90%;
    height: 550px;
    margin: 15px;

  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #formRegistro1 {
    width: 90%;
    padding: 10px;
    overflow: hidden;

  }

}

/*----------------- Feed ------------------------*/

.container_feed {
  border: 2px solid #FBD3E9;
  width: 100%;
  max-width: 1000px;
  margin: 2px auto;
  height: 100%;
  background-color: black;
}

.section_header {
  width: 100%;
  padding: 0 20px;
  border-bottom: 2px solid #FBD3E9;
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: auto;
  background-color: #0e0c10;
}

.feed_logo {
  height: 60px;
}

/*-------------Parte de al darle click al perfil----------*/

.perfil {
  margin: auto;
  position: relative;
}

.div-img {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.imagen-perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* Hace que la imagen tenga forma circular */
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  /* Centrar horizontalmente */
}

.info-perfil {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.info-perfil.active {
  top: 60px;
  visibility: visible;
  opacity: 1;
}

.info-perfil::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.name_google {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.email_google {
  font-size: 12px;
  color: #000;
  text-align: center;
}

.cerrar_sesion {
  display: flex;
  cursor: pointer;
  color: #000;
  justify-content: center;
  margin: 5px;
  font-size: 1em;
}

.cerrar_sesion i {
  border-radius: 50%;
  background-color: #BB377D;
  color: #fff;
  padding: 8px;
  margin-right: 5px;
}

/*--------Seccion del post---------*/
.section_post {
  width: 100%;
  height: auto;
  background-color: #4B4355;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.section_button {
  display: flex;
  justify-content: flex-end;
}

.section_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton_camara {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  color: #4B4355;
  background-color: transparent;
  border: none;
  max-width: 65px;
  height: 100%;
  padding: 5px 5px;
  margin: -37px;
}

.boton_camara:hover {
  color: #BB377D;
}


<<<<<<< HEAD
.feed_new_post{
=======
.feed_new_post {
>>>>>>> 04eab14eab1ff54e47104c63d1913d1a2139d701
  width: 80%;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  margin: 10px 0px 10px 10px;
  padding: 10px 37px 10px 10px;
  text-align: left;

}

.feed_new_post::placeholder {
  font-size: 16px;
  color: grey;
}

.mensaje_bienvenida {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 10px 0px 0 10px;
  text-align: center;
}

.name_user {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #8beafd;
  margin: 10px 0px 0 10px;
  text-align: center;
}

.button_publicar {
  width: 10rem;
  border-radius: 15px;
  background-color: #FBD3E9;
  border: none;
  padding: 7px 8px;
  font-size: 16px;
  color: #BB377D;
  margin-right: 70px;
}

.button_publicar:hover {
  background: #BB377D;
  box-shadow: 0px 4px 35px -5px #BB377D;
  color: aliceblue;
}

.section_publicaciones {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: grid;
}


.container_publicacion {
  display: grid;
  margin: 10px 0px;
  background-color: #4B4355;
}

.like_edit_delete {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(5, 1fr); /* Cuatro columnas igualmente distribuidas */
=======
  grid-template-columns: repeat(5, 1fr);
  /* Cuatro columnas igualmente distribuidas */
  gap: 1.5rem;
>>>>>>> 04eab14eab1ff54e47104c63d1913d1a2139d701
  margin: auto;
  align-items: center;
  padding: 10px;

}

.icono_like,
.icono_edit,
.icono_delete,
.icono_cancelar {
  background-color: transparent;
  font-size: 20px;
  color: #FBD3E9;
  padding: 5px 5px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: auto;
}


.contador_like {
  width: 22px;
  color: #FBD3E9;
  font-size: 23px;
}

.text-container {
  display: flex;
  justify-content: center;
}

.textarea_publicacion {
  width: 50%;
  height: 50px;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  outline-style: none;
  margin: 10px 0px 10px 10px;
  padding: 10px 37px 10px 10px;
  text-align: left;
  background-color: #4B4355;

}

.image-container {
  display: flex;
  justify-content: center;
}

.uploaded-image {
  width: 20rem;
  height: 15rem;
  display: none;
}

/*#8beafd azul logo*/

/*--------Responsive (Feed)--------*/

@media (max-width: 768px) {
  .feed_logo {
    width: 200px;
    height: 50px;
  }

  .mensaje_bienvenida {
    font-size: 20px;
  }

  .section_text {
    justify-content: flex-start;
  }

  .feed_new_post {
    width: 90%;
  }

  .section_button {
    justify-content: flex-start;
  }

  .button_publicar {
    margin-left: 10px;
  }

  .textarea_publicacion {
    width: 80%;
    padding: 8px;
    margin: 8px;
    text-align: center;
  }

}

/* -------Estilos modal imagenes--------*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container {
  margin: 120px auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__title {
  font-size: 2.5rem;
  color: #BB377D;
}

.modal__paragraph {
  text-align: justify;

}

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__buttons {
  display: flex;
  flex-direction: row;

}

.modal__upload,
.modal__close {
  width: 50%;
  height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #5daab9;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  transition: background-color .3s;
}

.modal__close:hover {
  color: #5daab9;
  background-color: #fff;
}

.modal__upload:hover {
  color: #5daab9;
  background-color: #fff;
}